.searchbar {
    display: flex;
    margin-bottom: auto;
    margin-top: 1.5rem;
    height: 30px;
    background: #bbb9b9;
    border-radius: 10px;
  }
    
.search-input {
  color: rgb(0, 0, 0);
  border: 0;
  outline: 0;
  background: none;
  padding: 0px 15px;
  transition: width 0.4s linear;
  caret-color: rgb(0, 0, 0);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
  
.search-icon {
  float: right;
  color: rgb(0, 0, 0);
  font-size: small;
}
  
.icon-bg {
  height: 30px;
  border-radius: 20px;
}
.icon-bg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardContainer {
  width: 20rem;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  grid: 1
}

.center {
  display: block;
  margin: 0 auto;
}

.cardImg {
  width: 15rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem
}

.navbar-color {
  background-color: #bbb9b9
}